.container {
  display: flex;
  background-color: aqua;
}
.container-form {
  border: solid;
  display: flex;
  padding: 50px;
  justify-content: center;
}
.container-left {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  width: 1000px;
  margin: 50px;
}
.modal-login {
background-color: rgb(255, 115, 0);
}
.modal-form {
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: antiquewhite;
  width: 500px;
  height: 1500px;
  border: solid;
  margin: 50px;
}
.container-input-button {
  background-color: blueviolet;
}
.li-container {
  display: flex;
  flex-direction: column;
}
.items-container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex-direction: row;
  border: solid;
  background-color: orange;
  height: 400px;
  width: 400px;
  margin: 15px;
}
input {
  height: 30px;
}
.input-div {
  padding: 15px;
}
.button-search {
  height: 40px;
  width: 80px;
  font-size: large;
  font-weight: bolder;
}
.button-search-div {
  padding: 15px;
}
p {
  font-weight: bold;
  font-size: larger;
}
 
.image-ChooseItem{
  height: 200px;
  width:200px;
}
.calories-text {
  font-size: large;
}
.score-text {
  font-size: large;
}